In [28]:
# read the Titanic data
import pandas as pd
path = '../data/'
url = path + 'titanic.csv'
titanic = pd.read_csv(url, index_col='PassengerId')
titanic.shape

(891, 11)

In [29]:
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [11]:
titanic.values

array([[1, 0, 3, ..., 7.25, nan, 'S'],
       [2, 1, 1, ..., 71.2833, 'C85', 'C'],
       [3, 1, 3, ..., 7.925, nan, 'S'],
       ...,
       [889, 0, 3, ..., 23.45, nan, 'S'],
       [890, 1, 1, ..., 30.0, 'C148', 'C'],
       [891, 0, 3, ..., 7.75, nan, 'Q']], dtype=object)

In [12]:
titanic.describe

<bound method DataFrame.describe of      PassengerId  Survived  Pclass  \
Age
 22            1         0       3
 38            2         1       1
 26            3         1       3
 35            4         1       1
 35            5         0       3
NaN            6         0       3
 54            7         0       1
 2             8         0       3
 27            9         1       3
 14           10         1       2
 4            11         1       3
 58           12         1       1
 20           13         0       3
 39           14         0       3
 14           15         0       3
 55           16         1       2
 2            17         0       3
NaN           18         1       2
 31           19         0       3
NaN           20         1       3
 35           21         0       2
 34           22         1       2
 15           23         1       3
 28           24         1       1
 8            25         0       3
 38           26         1       3
NaN           27         0       3
 19           28         0       1
NaN           29         1       3
NaN           30         0       3
..           ...       ...     ...
 21          862         0       2
 48          863         1       1
NaN          864         0       3
 24          865         0       2
 42          866         1       2
 27          867         1       2
 31          868         0       1
NaN          869         0       3
 4           870         1       3
 26          871         0       3
 47          872         1       1
 33          873         0       1
 47          874         0       3
 28          875         1       2
 15          876         1       3
 20          877         0       3
 19          878         0       3
NaN          879         0       3
 56          880         1       1
 25          881         1       2
 33          882         0       3
 22          883         0       3
 28          884         0       2
 25          885         0       3
 39          886         0       3
 27          887         0       2
 19          888         1       1
NaN          889         0       3
 26          890         1       1
 32          891         0       3

                                                  Name     Sex  SibSp  Parch  \
Age
 22                            Braund, Mr. Owen Harris    male      1      0
 38  Cumings, Mrs. John Bradley (Florence Briggs Th...  female      1      0
 26                             Heikkinen, Miss. Laina  female      0      0
 35       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female      1      0
 35                           Allen, Mr. William Henry    male      0      0
NaN                                   Moran, Mr. James    male      0      0
 54                            McCarthy, Mr. Timothy J    male      0      0
 2                      Palsson, Master. Gosta Leonard    male      3      1
 27  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female      0      2
 14                Nasser, Mrs. Nicholas (Adele Achem)  female      1      0
 4                     Sandstrom, Miss. Marguerite Rut  female      1      1
 58                           Bonnell, Miss. Elizabeth  female      0      0
 20                     Saundercock, Mr. William Henry    male      0      0
 39                        Andersson, Mr. Anders Johan    male      1      5
 14               Vestrom, Miss. Hulda Amanda Adolfina  female      0      0
 55                   Hewlett, Mrs. (Mary D Kingcome)   female      0      0
 2                                Rice, Master. Eugene    male      4      1
NaN                       Williams, Mr. Charles Eugene    male      0      0
 31  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female      1      0
NaN                            Masselmani, Mrs. Fatima  female      0      0
 35                               Fynney, Mr. Joseph J    male      0      0
 34                              Beesley, Mr. Lawrence    male      0      0
 15                        McGowan, Miss. Anna "Annie"  female      0      0
 28                       Sloper, Mr. William Thompson    male      0      0
 8                       Palsson, Miss. Torborg Danira  female      3      1
 38  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female      1      5
NaN                            Emir, Mr. Farred Chehab    male      0      0
 19                     Fortune, Mr. Charles Alexander    male      3      2
NaN                      O'Dwyer, Miss. Ellen "Nellie"  female      0      0
NaN                                Todoroff, Mr. Lalio    male      0      0
..                                                 ...     ...    ...    ...
 21                        Giles, Mr. Frederick Edward    male      1      0
 48  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female      0      0
NaN                  Sage, Miss. Dorothy Edith "Dolly"  female      8      2
 24                             Gill, Mr. John William    male      0      0
 42                           Bystrom, Mrs. (Karolina)  female      0      0
 27                       Duran y More, Miss. Asuncion  female      1      0
 31               Roebling, Mr. Washington Augustus II    male      0      0
NaN                        van Melkebeke, Mr. Philemon    male      0      0
 4                     Johnson, Master. Harold Theodor    male      1      1
 26                                  Balkic, Mr. Cerin    male      0      0
 47   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female      1      1
 33                           Carlsson, Mr. Frans Olof    male      0      0
 47                        Vander Cruyssen, Mr. Victor    male      0      0
 28              Abelson, Mrs. Samuel (Hannah Wizosky)  female      1      0
 15                   Najib, Miss. Adele Kiamie "Jane"  female      0      0
 20                      Gustafsson, Mr. Alfred Ossian    male      0      0
 19                               Petroff, Mr. Nedelio    male      0      0
NaN                                 Laleff, Mr. Kristo    male      0      0
 56      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female      0      1
 25       Shelley, Mrs. William (Imanita Parrish Hall)  female      0      1
 33                                 Markun, Mr. Johann    male      0      0
 22                       Dahlberg, Miss. Gerda Ulrika  female      0      0
 28                      Banfield, Mr. Frederick James    male      0      0
 25                             Sutehall, Mr. Henry Jr    male      0      0
 39               Rice, Mrs. William (Margaret Norton)  female      0      5
 27                              Montvila, Rev. Juozas    male      0      0
 19                       Graham, Miss. Margaret Edith  female      0      0
NaN           Johnston, Miss. Catherine Helen "Carrie"  female      1      2
 26                              Behr, Mr. Karl Howell    male      0      0
 32                                Dooley, Mr. Patrick    male      0      0

               Ticket      Fare        Cabin Embarked
Age
 22         A/5 21171    7.2500          NaN        S
 38          PC 17599   71.2833          C85        C
 26  STON/O2. 3101282    7.9250          NaN        S
 35            113803   53.1000         C123        S
 35            373450    8.0500          NaN        S
NaN            330877    8.4583          NaN        Q
 54             17463   51.8625          E46        S
 2             349909   21.0750          NaN        S
 27            347742   11.1333          NaN        S
 14            237736   30.0708          NaN        C
 4            PP 9549   16.7000           G6        S
 58            113783   26.5500         C103        S
 20         A/5. 2151    8.0500          NaN        S
 39            347082   31.2750          NaN        S
 14            350406    7.8542          NaN        S
 55            248706   16.0000          NaN        S
 2             382652   29.1250          NaN        Q
NaN            244373   13.0000          NaN        S
 31            345763   18.0000          NaN        S
NaN              2649    7.2250          NaN        C
 35            239865   26.0000          NaN        S
 34            248698   13.0000          D56        S
 15            330923    8.0292          NaN        Q
 28            113788   35.5000           A6        S
 8             349909   21.0750          NaN        S
 38            347077   31.3875          NaN        S
NaN              2631    7.2250          NaN        C
 19             19950  263.0000  C23 C25 C27        S
NaN            330959    7.8792          NaN        Q
NaN            349216    7.8958          NaN        S
..                ...       ...          ...      ...
 21             28134   11.5000          NaN        S
 48             17466   25.9292          D17        S
NaN          CA. 2343   69.5500          NaN        S
 24            233866   13.0000          NaN        S
 42            236852   13.0000          NaN        S
 27     SC/PARIS 2149   13.8583          NaN        C
 31          PC 17590   50.4958          A24        S
NaN            345777    9.5000          NaN        S
 4             347742   11.1333          NaN        S
 26            349248    7.8958          NaN        S
 47             11751   52.5542          D35        S
 33               695    5.0000  B51 B53 B55        S
 47            345765    9.0000          NaN        S
 28         P/PP 3381   24.0000          NaN        C
 15              2667    7.2250          NaN        C
 20              7534    9.8458          NaN        S
 19            349212    7.8958          NaN        S
NaN            349217    7.8958          NaN        S
 56             11767   83.1583          C50        C
 25            230433   26.0000          NaN        S
 33            349257    7.8958          NaN        S
 22              7552   10.5167          NaN        S
 28  C.A./SOTON 34068   10.5000          NaN        S
 25   SOTON/OQ 392076    7.0500          NaN        S
 39            382652   29.1250          NaN        Q
 27            211536   13.0000          NaN        S
 19            112053   30.0000          B42        S
NaN        W./C. 6607   23.4500          NaN        S
 26            111369   30.0000         C148        C
 32            370376    7.7500          NaN        Q

[891 rows x 11 columns]>

In [30]:
titanic.mean()

Survived     0.383838
Pclass       2.308642
Age         29.699118
SibSp        0.523008
Parch        0.381594
Fare        32.204208
dtype: float64

In [31]:
age = titanic.Age

In [32]:
age.mean()

29.69911764705882